<haeder class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app" , '#' , id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><#= "Home", "#" %></li>
        <li><#= "Help", "#" %></li>
        <li><#= "Log in", "#" %></li>
      </ul>
    </nav>
  </div>
</head>